<h4>create a post</h4>
<form {{on "submit" this.createPost}}>
    <div>
        <label for="title">title</label>
        <Input id="title" @value={{this.title}} />
    </div>
    <div>
        <label for="homedelivery">homedelivery</label>
        <Input id="homedelivery" @value={{this.homedelivery}} />
    </div>
    <div>
        <label for="location">location</label>
        <Input id="location" @value={{this.location}} />
    </div>
    <div>
        <label for="rating">rating</label>
       <Input id="rating" @value={{this.rating}} />
    </div>
     <div>
        <label for="stock">stock</label>
        <Input id="stock" @value={{this.stock}} />
    </div>
    <div>
        <label for="image">image</label>
        <Input id="image" @value={{this.image}} />
    </div>
    <button type="submit">Create</button>
</form>
{{!-- {{on "submit" this.createPost}} --}}