<h4>Edit a post</h4>
<form {{on "submit" this.editPost}}>
    <div>
        <label for="title">title</label>
       <Input @id="title" @type="text" @value={{this.title}} />
    </div>
    <div>
        <label for="homedelivery">homedelivery</label>
        <Input @id="homedelivery" @type="text" @value={{this.homedelivery}} />
    </div>
    <div>
        <label for="location">location</label>
        <Input @id="location"  @type="text" @value={{this.location}} />
    </div>
    <div>
        <label for="rating">rating</label>
       <Input @id="rating" @type="text" @value={{this.rating}} />
    </div>
     <div>
        <label for="stock">stock</label>
        <Input @id="stock" @type="text" @value={{this.stock}} />
    </div>
    <div>
        <label for="image">image</label>
        <Input @id="image" @type="url" @value={{this.image}} />
    </div>
    <button type="submit">Edit</button>

</form>
{{!-- {{on "submit" this.createPost}} --}}